static/files
static/frames
static/Reports
static/Single_Video_Reports
static/css/indexcssbackup.css
templates/indexhtmlbackup.html
static/analytics_tool/resources/cfg/flask.txt
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

