<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload-video</title>

    <head>
        <link rel="stylesheet" href="../static/css/queue.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>

    <div class="main-container">
        <div class="flash-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            <div class="upload-container">
                <h2 class="uploadHeader">Upload a Video</h2>
                <form method='POST' enctype='multipart/form-data'>
                    {{form.hidden_tag()}}
                    {{form.file()}}
                    {{form.submit()}}
                </form>
            </div>
            <div class="list-container">
                <h2>Uploaded Videos</h2>
                <ol id="parent-list">
                    {%for file in filelist%}
                    <!-- <li onclick="location.href='http://localhost:5000/firstFrame/%22{{file}}%22';" id={{file}}>{{file}}</li> -->
                    {% set list1 = file.split('-') %}
                    <!-- The grass is {{ list1[0] }} and the boat is {{ list1[1] }} -->
                    <div id="licontents">
                        <li onclick="location.href='/firstFrameCam/%22{{file}}%22';" id="camLoc">
                            <span>{{file}}</span>
                        </li>
                        <button id="downloadbtn" class="downloadbtn"><i class="fa fa-download"></i> Download
                            Report</button>
                    </div>

                    <!-- <br> -->
                    {%endfor%}
                </ol>
            </div>
        </div>
    </div>

</body>

<script>
    function download(fileUrl, fileName) {
        // console.log("download function called");
        var a = document.createElement("a");
        a.href = fileUrl;
        a.setAttribute("download", fileName);
        a.click();
    }
    var userSelection = document.getElementsByClassName('downloadbtn');
    var filelist = {{ filelist| safe }};

    for (var i = 0; i < userSelection.length; i++) {
        (function (index) {

            userSelection[index].addEventListener("click", function () {
                console.log("Clicked index: " + index);
                let camLoc = filelist[index];
                const myArray = camLoc.split("-");
                console.log(myArray)



                mylog = "../static/Reports/" + myArray[1] + "/" + myArray[0] + ".xlsx"
                savelog = myArray[1] + '_' + myArray[0] + ".xlsx"


                // console.log(mylog)
                // "../static/Reports/Location10/Cam1.xlsx"
                // "../static/Reports/Location1/Cam4.xlsx"

                // console.log(myArray[1] + '_' + myArray[0] + '.xlsx')

                download(mylog, savelog);



            })
        })(i);
    }
</script>

<script src="static/js/queue.js"></script>

</html>